.container-leadership{
    background:#000000;
    display:flex;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    position: absolute;
    height:1800px;
    width:1200px;
    top:0px;
    z-index:-1;
}
.pastor{
    position: relative;
    bottom:300px;
    left:100px;
}

.pastor-jpg{
    height:400px;
    width:560px;
    transform:rotate(-10deg);
    z-index:0;
    position: relative;
    right:280px;
    bottom:20px;
}

.pastor-text{
    height:350px;
    width:550px;
    position: relative;
    left:60px;
    z-index:2;
   
}

.paragraph{
    color:#ffff;  
    position: relative;
    font-size:15px;
    width: 550px;
    position: relative;
    left:70px;
    top:40px;
    font-weight:100;
    letter-spacing: .30em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lead-btn{
    border: 20px solid #fff;
    background-color: #ffff;
    color:#242424;
    position: relative;
    font-size:10px;
    text-decoration:none;
    font-family: "My Custom Font";
    border-bottom-width:7px;
    border-top-width:7px;
    border-right-width:15px;
    border-left-width:15px;
    font-weight:100;
    left:70px;
    top:80px;
}

.lead-line{
    border-top: 1px solid #ffff;
    width:600px;
    position: relative;
    bottom:110px;
    left:300px;
    
}
.lead-tit{
    font-family: "My Custom Fonts";
    color:#ffff;
    font-size:90px;
    font-weight:100;
    position: relative;
    left:50px;
   
}
.leadership-footer{
    position:absolute;
    z-index:2;
    top:1400px;
}
@font-face {
    font-family: "My Custom Font";
    src: url('../images/Anton-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "My Custom Fonts";
    src: url('../images/Robinson\ Outline.ttf') format("truetype");
}